:root {
    /* CSS HEX */
    --celeste: #b9faf8ff;
    --amaranth: #db324dff;
    --dark-liver: #56494eff;
    --spanish-gray: #a29c9bff;
    --safety-yellow: #f1d302ff;
}

.main_background {
    background-color: var(--spanish-gray);
}

h2 {
    color: black;
}
.cropped{
    width: 250px;
    height: 900px;
    object-fit: cover;
    object-position: 20% 10%;
}

html, body {
    background-color: var(--spanish-gray);
}

#error_message {
    color: rgb(146, 27, 47);
}